/* .ReactTable .rt-resizable-header {
  color: snow;
  background: #3f51b5;
  border: 1px solid #a5acd4;
} */
a:hover {
  color: rgb(105, 180, 241);
}
/* ReactTable .rt-thead .rt-resizable-header */
.ReactTable .rt-thead .rt-resizable-header {
  color: snow;
  background: #3f51b5;
  border: 1px solid #a5acd4;
}
