.App {
  text-align: center;
}

.ReactTable .rt-tbody .rt-td .action {
  transition: all 0.2s ease;
  text-align: center;
  color: red;
  transform: scale(0);
}

.ReactTable .rt-tbody .rt-td:hover .action {
  transform: scale(1.3);
}

.ReactTable .rt-td:hover {
  background: #ebebeb;
}
.ReactTable .rt-td:focus {
  background: blue;
}
.ReactTable .rt-td:active {
  background: #cfcfcf;
}
.active {
  background: #cfcfcf;
}

/* .ReactTable .rt-tbody .rt-td::selection {
  background: #ebebeb;
} */
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
